body{
    margin: 0%;
    padding: 0%;
    background-color: #FEFBC7;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.inputs{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #E14434; */
}
.inputs input{
    height: 60px;
    width: 300px;
    margin-bottom:50px ;
    border-radius: 8px;
    border: none;
    padding: 0px 10px;
    color: #5EABD6;
    font-size: 17px;
}
.inputs input:focus{
    outline: none;
    border:2px solid #5EABD6;
}
.inputs button{
    height: 50px;
    width: 200px;
    border-radius: 32px;
    background-color: #5EABD6;
    border: none;
    color: white;
    font-size: 17px;
}
.inputs button:focus{
    outline: none;
}
.inputs button:hover{
    box-shadow: 2px 2px 10px #306f99;
    transition: 1s;
}

#resultp{
    text-align: center;
    margin-top: 30px;
    display: none;
    color: rgb(49, 49, 49);

}
#paragraph{
    color: gray;
    margin: 30px;
}